:root {
  --hue: 230;
  --primary: hsl(var(--hue), 69%, 61%);
  --primary-alt: hsl(var(--hue), 57%, 53%);
  --primary-light: hsl(var(--hue), 92%, 85%);
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 65%);
  --input-color: hsl(var(--hue), 70%, 96%);
  --body-color: hsl(var(--hue), 60%, 99%);
  --container-color: hsl(0, 0%, 100%);
  --nextjs-icon-color: hsl(206, 22%, 15%);
  --port-btn: hsl(var(--hue), 69%, 61%);
  --success-bg: hsl(var(--hue), 30%, 8%);
  --success-text: hsl(var(--hue), 8%, 95%);
  --success-card-color: hsl(227, 100%, 96%);
}

body.dark-theme {
  --primary-dark: hsl(var(--hue), 30%, 8%);
  --title-color: hsl(var(--hue), 8%, 95%);
  --text-color: hsl(var(--hue), 8%, 75%);
  --input-color: hsl(var(--hue), 29%, 16%);
  --body-color: hsl(var(--hue), 28%, 12%);
  --container-color: hsl(var(--hue), 29%, 16%);
  --nextjs-icon-color: hsl(206, 22%, 95%);
  --port-btn: hsl(var(--hue), 100%, 78%);
}
