@use '../util' as *;

:root {
  // =========MARGIN BOTTOM=========
  --mb-1: 0.25rem;
  --mb-2: 0.5rem;
  --mb-3: 0.75rem;
  --mb-4: 1rem;
  --mb-5: 1.5rem;
  --mb-6: 2rem;
  --mb-7: 2.5rem;
  --mb-8: 3rem;

  // =========Z INDEX=========
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.container {
  max-width: rem(768);
  margin-left: var(--mb-5);
  margin-right: var(--mb-5);

  @include breakpoint-down(xsmall) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.grid {
  display: grid;
  gap: 1.5rem;
}
