@use '../util' as *;

.footer {
  padding-top: 2rem;

  &__container {
    row-gap: 3.5rem;
  }

  &__bg {
    background-color: var(--primary-alt);
    padding: 2rem 0 3rem;
  }

  &__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1);
  }

  &__subtitle {
    font-size: var(--small-font-size);
  }

  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__link:hover {
    color: var(--primary-light);
  }

  &__social {
    font-size: 1.25rem;
    margin-right: 1.5rem;
  }

  &__social:hover {
    color: var(--primary-light);
  }

  &__copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--primary-light);
    margin-top: 3rem;
  }

  &__copy-link:hover {
    color: hsl(0, 0%, 96%);
  }

  &__title,
  &__subtitle,
  &__link,
  &__social {
    color: hsl(0, 0%, 96%);
  }

  @include breakpoint(medium) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include breakpoint(nav) {
    &__container {
      grid-template-columns: 1fr 2fr 1fr;
      padding: 0 1rem;
      align-items: baseline;
    }

    &__bg {
      padding: 3rem 0 2rem;
    }

    &__links {
      flex-direction: row;
      column-gap: 2rem;
      justify-self: center;
    }

    &__socials {
      justify-self: flex-end;
    }

    &__copy {
      margin-top: 6rem;
    }
  }

  @include breakpoint(large) {
    &__container {
      padding: 0;
    }
  }
}
