@use '../util' as *;

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);

  @include breakpoint(nav) {
    top: 0;
    bottom: initial;
    padding: 0 1rem;
  }

  @include breakpoint(large) {
    padding: 0;
  }
}
