@use '../util' as *;
.home {
  &__container {
    gap: 1rem;
  }

  &__content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
  }

  &__socials {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
  }

  &__social-icon {
    font-size: 1.25rem;
    color: var(--primary);
  }

  &__social-icon:hover {
    color: var(--primary-alt);
  }

  &__name {
    padding-bottom: 0.3rem;
    border-bottom: 4px solid var(--primary);
  }

  &__blob {
    width: rem(200);
    fill: var(--primary);
  }

  &__blob-img {
    width: rem(420);
  }

  &__data {
    grid-column: 1/3;
  }

  &__title {
    font-size: var(--big-font-size);
  }

  &__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-3);
  }

  &__description {
    margin-bottom: var(--mb-6);
  }

  &__scroll {
    display: none;
  }

  &__scroll-button {
    color: var(--primary);
    transition: 0.3s;
  }

  &__scroll-button:hover {
    transform: translateY(0.25rem);
  }

  &__scroll-mouse {
    font-size: 2rem;
  }

  &__scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-1);
  }

  &__scroll-arrow {
    font-size: 1.25rem;
  }

  @include breakpoint-down(xsmall) {
    &__content {
      grid-template-columns: 0.25fr 3fr;
    }

    &__blob {
      width: rem(180);
    }
  }

  @include breakpoint(medium) {
    &__content {
      grid-template-columns: max-content 1fr 1fr;
    }

    &__data {
      grid-column: initial;
    }

    &__img {
      order: 1;
      justify-self: center;
    }

    &__blob {
      width: rem(300);
    }
  }

  @include breakpoint(nav) {
    &__container {
      row-gap: 5rem;
    }

    &__content {
      padding-top: 5.5rem;
      column-gap: 2rem;
    }

    &__scroll {
      display: block;
    }

    &__scroll-button {
      margin-left: 3rem;
    }
  }

  @include breakpoint(large) {
    &__blob {
      width: rem(350);
    }

    &__socials {
      transform: translateX(-6rem);
    }
  }
}
