@use '../util' as *;

.portfolio {
  &__container {
    overflow: initial;
  }

  &__content {
    padding: 0 1.5rem;
  }

  &__img {
    width: max-content;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem -0.5rem hsla(0, 0%, 0%, 0.5);
    justify-self: center;
  }

  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-2);
  }

  &__description {
    margin-bottom: var(--mb-6);
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    margin-bottom: var(--mb-8);
    background-color: transparent;
    color: var(--port-btn);
    // border: 1px solid var(--primary);
    padding: 0.2rem 0.5rem;
  }

  &__button:hover {
    background-color: transparent;
  }

  &__button:hover .button__icon {
    transform: translateX(0.25rem);
  }

  @include breakpoint(medium) {
    &__content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @include breakpoint(nav) {
    &__container div:first-child {
      margin-bottom: var(--mb-8);
    }
  }
}
